html {
  background-color: aquamarine;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  text-align: center;
  color: rgb(202, 138, 53);
}
.Logo {
  margin: 10px auto;
  display: block;
  width: 465px;
  height: 171px;
}
.flex {
  display: flex;
  height: 200px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.contenido-1 {
  height: 200px;
  width: 300px;
}

.contenido-2 {
  height: 200px;
  width: 300px;
}
.contenido-3 {
  height: 200px;
  width: 300px;
}

.contenido-4 {
  height: 200px;
  width: 300px;
}
.contenido-5 {
  height: 200px;
  width: 300px;
}
.contenido-6 {
  height: 200px;
  width: 300px;
}
